<!DOCTYPE html>
<html>
  <head>
    <title> Bienvenidisimos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color:<%= title %>">
    <h1>Bienvenidisimos</h1>
    <p>como estan todos</p>
    <a href='/theme'>Tema</a>
  </body> 
</html>
